In [1]:
import json as js
import pandas as pd
from Base_d  import Bd  
from datetime import datetime

In [2]:
f = open("tweets1.json", "r")
content = f.read()
jsondecoded = js.loads(content)
tweets_df=pd.DataFrame(jsondecoded)
tweets_df.head()

,id,texto,usuario,hashtags,fecha,retweets,favoritos
0,1,La tecnología de la realidad virtual está revo...,gamers_unidos,"[tecnología, videojuegos]",2023-03-13 16:45:00,23,87
1,2,Apple anuncia el lanzamiento de su nuevo iPhon...,tech_news,"[Apple, iPhone15]",2023-03-12 10:30:00,234,1876
2,3,Google presenta su nuevo asistente virtual con...,tech_guru,"[Google, hogarinteligente]",2023-03-11 15:20:00,78,489
3,4,La empresa de tecnología SpaceX anuncia el lan...,espaciofan,"[SpaceX, vuelolunar]",2023-03-10 13:10:00,109,732
4,5,El nuevo dron de DJI es capaz de grabar video ...,dron_adicto,"[drones, tecnología]",2023-03-09 17:05:00,45,256

In [3]:
bd=Bd()
bd.set_user("lVC$4")
bd.set_host("localhost")
bd.set_datebase("tweet_mx")
bd.set_passwoord("anesartnoc")
bd.get_connection()

Error while connecting to MySQL 1045 (28000): Access denied for user 'lucsa'@'localhost' (using password: NO)
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)

In [4]:


for  i in range(len(tweets_df) ):
    bd.insert(tweets_df.id[i], tweets_df.texto[i],tweets_df.usuario[i],tweets_df.hashtags[i], tweets_df.fecha[i], tweets_df.retweets[i] ,tweets_df.favoritos[i] )

Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed

In [5]:
tweets=bd.export_tweet()
tweets_df=pd.DataFrame(tweets)
tweets_df.head()

Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
MySQL connection is closed

,0,1,2,3,4,5,6,7,8
0,1,La tecnología de la realidad virtual está revo...,gamers_unidos,"tecnología,videojuegos",2023-03-13 16:45:00,23,87,None,None
1,2,Apple anuncia el lanzamiento de su nuevo iPhon...,tech_news,"Apple,iPhone15",2023-03-12 10:30:00,234,1876,None,None
2,3,Google presenta su nuevo asistente virtual con...,tech_guru,"Google,hogarinteligente",2023-03-11 15:20:00,78,489,None,None
3,4,La empresa de tecnología SpaceX anuncia el lan...,espaciofan,"SpaceX,vuelolunar",2023-03-10 13:10:00,109,732,None,None
4,5,El nuevo dron de DJI es capaz de grabar video ...,dron_adicto,"drones,tecnología",2023-03-09 17:05:00,45,256,None,None