Carga de librerias

In [2]:
import json as js
import pandas as pd
from Base_d  import Bd

lectura del archivo json que contiene los tweets

In [5]:
f = open("tweets1.json", "r")
content = f.read()
jsondecoded = js.loads(content)
tweets_df=pd.DataFrame(jsondecoded)
tweets_df.head()
tweets_df.to_csv("/home/lucsa/Documentos/Nao.py(data_analyst)/captura/topics_csv/prueba.csv")

inicilizacion de la api

In [3]:
bd=Bd()
bd.set_user("lVC$4")
bd.set_host("localhost")
bd.set_datebase("tweet_mx")
bd.set_passwoord("anesartnoc")
bd.get_connection()

Error while connecting to MySQL 1045 (28000): Access denied for user 'lucsa'@'localhost' (using password: NO)
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)

Carga de los archivos a la base de datos MYSQL

In [4]:


for  i in range(len(tweets_df) ):
    bd.insert(tweets_df.id[i], tweets_df.texto[i],tweets_df.usuario[i],tweets_df.hashtags[i], tweets_df.fecha[i], tweets_df.retweets[i] ,tweets_df.favoritos[i] )

Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed
Connected to MySQL Server version  8.0.32-0ubuntu0.22.04.2
You're connected to database:  ('tweet_mx',)
Record inserted successfully into TweetDB table
MySQL connection is closed

bajada de los datos almasenados en la base de datos

In [4]:
tweets=bd.export_tweet()
tweets_df=pd.DataFrame(tweets)
tweets_df.head()

NameError: name 'bd' is not defined